.col-12
{
    width: 100%;
}
.col-3
{
    width: 300px;
    float: left;
}
ul
{
list-style-type: none;
}
body{

    color: darkblue;
    background-color: ivory;
    font-family: 'Open sans', sans-serif;
}
#wrapper
{
    width: 1000px;
    margin: auto;
}